.header{

    margin-left: 120px;

}

.resume {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    
}

.sheet {

    width: 650px;
    height: 800px;
    
  
  
}

.title {

    font-family: 'Amatic SC';
    text-transform: uppercase;
    font-stretch: 100%;
}


.personalWork {

    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
   
}


.img1 {

    max-width: 33%; 
    border-style: solid;
    border-width: 2px;
    border: thick double #32a1ce;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 40px;
     
    
}

.img2 {

    max-width: 33%; 
    border-style: solid;
    border-width: 2px;
    border: thick double #32a1ce;
    margin-right: 5px;
    
    
}

.img3 {

    max-width: 33%; 
    border-style: solid;
    border-width: 2px;
    border: thick double #32a1ce;
    margin-left: 5px;
   
   
}

.personalWork2 {

    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
   
}

.img4 {

    max-width: 33%; 
    border-style: solid;
    border-width: 2px;
    border: thick double #32a1ce;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    
    
    
}

.img5 {

    max-width: 33%; 
    border-style: solid;
    border-width: 2px;
    border: thick double #32a1ce;
    margin-top: 10px;
    margin-right: 5px;
    
    
}

.img6 {

    max-width: 33%;
    border-style: solid;
    border-width: 2px;
    border: thick double #32a1ce;
    margin-top: 10px;
    margin-left: 5px;
    
   
}


/* .willieWills {

    display: flex;
    
}

.primaryHeader {

    text-align: center;
}

.hello {
    text-align: left;
    margin-top: 75px;
}

.copy {

    text-align: left;
}

/* .navbar {

    background-color:#8ab0f5
} */ 

.navbar {

    background-color:#8ab0f5
}

.logo {

    height: 150px;
    width: 140px;
}

.follow {

    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-width: 2px;
}

.card-one {

    float: left;
    
    margin-left: 400px;
}

.card-two {

    float: right;
    
    margin-right: 400px;
    
}

.fonts {

    font-family: 'Encode Sans Condensed', sans-serif;

   
}
